/* progress bar */
div.zj_prop .meter {
	width: 110px;
	height: 5px;
}
div.zj_prop  .meter {
	background-color: #BDBDBD;
	display: block;
	width: 100%;
	height: 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

div.zj_prop .meter div {
background-color: #74B446;
height: 100%;
-moz-border-radius-topleft: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}

div.zj_prop  .fundRaisingMeter div {
	background-color: #74B446;
}

.percentRaised {
	color: #888;
}

.number {
	color: #333;
	font-size: 1.4714em;
	margin-right: 3px;
	font-family: "Museo Slab 500",Rockwell,Georgia,serif;
	font-weight: 500;
}

/* table style */
table div.zj_prop  .meter {
	width: 100%;
	height: 5px;
}
table div.zj_prop  .meter {
	background-color: #BDBDBD;
	display: block;
	width: 100%;
	height: 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

table div.zj_prop .meter div {
background-color: #74B446;
height: 100%;
-moz-border-radius-topleft: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}

table div.zj_prop  .fundRaisingMeter div {
	background-color: #74B446;
	float: left;
}

 table .percentRaised {
	color: #888;
}

 table.number {
	color: #333;
	font-size: .4714em;
	margin-right: 3px;
	font-family: "Museo Slab 500",Rockwell,Georgia,serif;
	font-weight: 500;
}

.button, button {
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	display: inline-block;
	padding-right: 1em;
	padding-left: 1em;
	outline: none;
	vertical-align: bottom;
}

 .button, ui-button {
background-color: #F1EFED;
border-color: #74B446;
color: #4B9123;
}

 .button, ui-button {
background-image: -moz-linear-gradient(top,#ffffff,#e1e1e1);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#e1e1e1));
background-image: linear-gradient(top,#ffffff,#e1e1e1);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e1e1e1');
}
 .button, ui-button {
font-family: 'Proxima Nova Regular','Helvetica Neue',Arial,Helvetica,sans-serif;
font-size-adjust: 0.488;
font-weight: 400;
}
.bigger {
font-size: 1.4286em;
}
.cB {
clear: both;
}

.button.bigger {
	line-height: 1.9em;
}

.button.bigger, .button.biggest, button.biggest {
	padding-right: 1.4em;
	padding-left: 1.4em;
}

.button, .y-cssgradients button {
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
}

a {
text-decoration: none;
}