/**
 * @version		$Id$
 * @author		Nguyen Dinh Luan
 * @package		Joomla!
 * @subpackage	ZJ_Donation
 * @copyright	Copyright (C) 2008 - 2011 by Joomseller Solutions. All rights reserved.
 * @license		http://www.gnu.org/licenses/gpl.html GNU/GPL version 3
 */

/** COMMON */
/* Clearfix
-------------------------------------------------------------*/
* html .clearfix {
	height: 1%; /* IE5-6 */
}

html[xmlns] .clearfix { /* O */
	display: block;
}

.clearfix:after { /* FF, O, etc. */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.hide {
	display: none;
}

.zj_button {
	margin-right: 4px;
	display: block;
	width: 120px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	font-weight: bold;
	background: url(../images/button.png) 0 0 no-repeat;
	text-decoration: none;
	border: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 11px;
	padding-bottom: 2px;
	padding-top: 0;
	cursor: pointer;
}

.zj_button_small{
margin-right: 4px;
	display: block;
	width: 100px;
	height: 12px;
	line-height: 12px;
	font-weight: bold;
	background: url(../images/button.png) 0 0 no-repeat;
	text-decoration: none;
	border: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 8px;
	padding-bottom: 2px;
	padding-top: 0;
	cursor: pointer;
}

a.zj_button {
	float: left;
}

.zj_button-long {
	width: 160px;
	background: url(../images/button-long.png) 0 0 no-repeat;
}

.zj_sbutton {
	float: right;
	margin-right: 4px;
	display: block;
	width: 160px;
	height: 19px;
	text-align: center;
	line-height: 19px;
	font-weight: bold;
	background: url(../images/sbutton.png) 0 0 no-repeat;
	text-decoration: none;
	border: none;
	color: #028BAD;
	text-transform: uppercase;
	font-size: 11px;
	padding-bottom: 2px;
}


a.zj_button:hover,
a.zj_button:visited,
a.zj_sbutton:hover,
a.zj_sbutton:visited,
a.zj_button:focus,
a.zj_sbutton:focus {
	text-decoration: none;
	background-position: 0 0;
	color: #FFFFFF;
}

.zj_clear {
	clear: both;
}

.zj_required {
	color: red;
}

.zj_price {
	color: #E43101;
}

.zj_buttonbar {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

/** CATEGORY LIST */

.ja-content-main ul.zj_subcats {
	display: table;
	margin: 0;
}

.zj_subcats li {
	float: left;
	height: 25px;
	margin: 5px 10px;
	background: none;
	padding-left: 5px;
	list-style: none;
}

.ja-content-main ul.zj_subcats li {
	background-image: none;
	padding: 0;
	display: inline-table;
}

.zj_subcats li a {
	color: #757575;
	font-weight: bold;
	padding: 7px 0 0 15px;
	line-height: 20px;
	background: url("../images/list.gif") no-repeat scroll -3px 4px transparent;
	border-bottom: 1px dotted #DDDDDD;
	display: block;
}

.zj_subcats-container h4 {
	margin-bottom: 0;
}


/** campaign LIST */

#zj_campaigns h4  {
	font-size: 150%;
	padding: 0;
	margin: 0 0 15px 0;
}

#zj_campaigns h4 a {
	font-weight: bold;
}

#zj_campaigns a {
	
}

#zj_campaigns .zj_thumb,
#zj_campaign .zj_thumb {
	float: left;
}

#zj_campaign .zj_thumb img,
.zj_table img,
.zj_campaign-column .zj_thumb img {
	padding: 3px;
	border: 1px solid #CADAE7;
}

#zj_campaigns .zj_thumb img,
#zj_campaigns .zj_thumb div {
	margin: 0 20px;
	padding: 3px;
	border: 1px solid #CADAE7;
}

#zj_campaign .zj_thumb img {
	
}

#zj_campaigns .zj_details {
	margin-left: 160px;
}

#zj_campaigns ul {
	margin: 15px 0;
	padding: 0;
}

#zj_campaigns li {
	list-style: none;
	background: url(../images/gradient.png) 0 0 repeat-x;
	padding: 15px 15px 35px 0;
	margin-left: 0;
}

#zj_campaigns dl {
	background: none repeat scroll 0 0 #ECF4FB;
	border: 1px solid #CADAE7;
	padding: 5px 5px 5px 10px;
	margin: 0 5px 5px;
	float: right;
}

#zj_campaigns dt,
#zj_campaign dt {
	float: left;
	font-weight: bold;
}

#zj_campaigns dt {
	width: 90px;
}

#zj_campaign dt {
	width: 130px;
}

#zj_campaigns dd,
#zj_campaign dd {
	font-weight: normal;
}

#zj_campaigns dd {
	margin-left: 90px;
}

#zj_campaign dd {
	margin-left: 100px;
}

#zj_campaigns .zj_buttons,
#zj_campaign .zj_buttons {
	overflow: hidden;
}


/** campaign */

#zj_campaign {
	background: none repeat scroll 0 0 #ECF4FB;
	border: 1px solid #CADAE7;
	padding: 10px;
}

#zj_campaign .zj_details {
	margin-left: 200px;
}

#zj_campaign .zj_left {
	float: left;
}

#zj_campaign .inputbox {
	margin-right: 10px;
}

#zj_campaign .zj_prop {
	background: url("../images/dot.gif") repeat-x scroll left bottom transparent;
	padding: 3px 0;
}

.zj_price-container {
	margin-right: 15px;
	font-weight: bold;
}

.zj_buttonbar {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}


/** TABS */

.zj_campaign-info dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}

dl.tabs:first-child {
	border-left: 1px solid #CADAE7;
}

dl.tabs dt {
	float: left;
	padding: 0 10px;
	border: 1px solid #CADAE7;
	border-left: none;
	height: 24px;
	line-height: 24px;
	margin-left: 0;
	background: url(../images/tab.png) repeat-x;
	color: #666;
	font-weight: bold;
}


dl.tabs dt.open {
	background-color: #fff;
	background-image: none;
	border-bottom: 1px solid #fff;
	z-index: 100;
	color: #000;
}

dl.tabs dt.closed:hover {
	background-position: 0 -48px;
	border-bottom: 1px solid #019bc1;
	color: #fff;
}
dl.tabs dt.open:hover {
	background-position: 0 -72px;
}

div.current {
	clear: both;
	border: 1px solid #CADAE7;
	padding: 10px 10px;
}

div.current dd {
	padding: 0;
	margin: 0;
}

.zj_campaign_gallery a {
	border: 1px solid #CADAE7;
	display: inline-block;
	margin: 3px 1px;
	padding: 3px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 180px;
}

/** RATING */

.zj_vote-container {
	display: inline-block;
	line-height: 25px;
	vertical-align: middle;
}

.zj_vote-container-small {
	display: inline-block;
	line-height: 22px;
	vertical-align: middle;
}

ul.zj_vote-stars {
	height: 25px;
	width: 125px;
	padding: 0 !important;
	margin: 0 !important;
}

ul.zj_vote-stars-small {
	height: 22px;
	width: 110px;
	padding: 0 !important;
	margin: 0 !important;
}

ul.zj_vote-stars li, ul.zj_vote-stars-small li {
	background-position: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

ul.zj_vote-stars, ul.zj_vote-stars li a:hover, ul.zj_vote-stars li.current-rating {
	background-image: url(../images/star.gif) !important;
	background-color: transparent !important;
	background-repeat: repeat-x !important;
	background-position: left -1000px;
}

ul.zj_vote-stars-small, ul.zj_vote-stars-small li a:hover, ul.zj_vote-stars-small li.current-rating {
	background-image: url(../img/star_small.gif) !important;
	background-color: transparent !important;
	background-repeat: repeat-x !important;
	background-position: left -1000px;
}

ul.zj_vote-stars, ul.zj_vote-stars-small {
	background-position: left top;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0pt;
	overflow: hidden;
	padding: 0pt;
	position: relative;
}

ul.zj_vote-stars li, ul.zj_vote-stars-small li {
	background-image: none;
	display: inline;
	padding: 0pt;
}

ul.zj_vote-stars li a, ul.zj_vote-stars li.current-rating, ul.zj_vote-stars-small li a, ul.zj_vote-stars-small li.current-rating {
	border: medium none;

	left: 0pt;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	overflow: hidden;
	position: absolute;
	text-indent: -1000em;
	top: 0pt;
}

ul.zj_vote-stars li a, ul.zj_vote-stars li.current-rating {
	height: 25px;
	line-height: 25px;
	background: none;
}

ul.zj_vote-stars-small li a, ul.zj_vote-stars-small li.current-rating {
	height: 22px;
	line-height: 22px;
}

ul.zj_vote-stars li a:hover, ul.zj_vote-stars-small li a:hover {
	background-position: left bottom !important;
}

ul.zj_vote-stars li a:focus, ul.zj_vote-stars-small li a:focus {
	background: none;
}

ul.zj_vote-stars li.current-rating, ul.zj_vote-stars-small li.current-rating {
	background-position: left center;
	z-index: 1;
}

li a.zj-one-star {
	width: 20%;
	padding: 0;
	margin: 0;
	z-index: 6;
}

li a.zj-two-stars {
	width: 40%;
	padding: 0;
	margin: 0;
	z-index: 5;
}

li a.zj-three-stars {
	width: 60%;
	padding: 0;
	margin: 0;
	z-index: 4;
}

li a.zj-four-stars {
	width: 80%;
	padding: 0;
	margin: 0;
	z-index: 3;
}

li a.zj-five-stars {
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 2;
}

.zj_vote-count {
	vertical-align: middle;
}


/** TABLE */

.zj_table thead th {
	background:url("../images/table-header-bg.gif") repeat-x scroll 0 100% #FFFFFF;
	color:#222222;
	font:bold 11px/1.35 Arial;
	border:1px solid #EAEAEA;
	font-weight:bold;
	padding:5px 8px;
	vertical-align:middle;
	white-space:nowrap;
}

.zj_table {
	border-collapse: collapse;
}

.zj_table tbody td {
	padding: 4px 8px;
	border: 1px solid #e0e0e0;
	border-top: 0;
}

.zj_table p {
	margin: 3px 0;
	line-height: 1.5;
}

.zj_table .zj_table-entry2 {
	background-color: #FAFAFA;
}

.zj_table .zj_table-entry1 {
	background-color: #FEFEFE;
}

.zj_table .zj_table-entry1:hover,
.zj_table .zj_table-entry2:hover {
	background-color: #FFFFFF;
}

.zj_table tfoot td {
	padding: 5px 8px;
	vertical-align: middle;
	font-size: 12px;
	background: #f9f9f9;
	border: 1px solid #f0f0f0;
	border-top: 0;
}

.zj_table .price_entry td {
	font-weight: bold;
}

/*
.zj_campaign-intro-container .zj_campaign-intro {
	background:url("../images/gradient.png") repeat-x 0 0;
	padding: 0 0 10px;
}

.zj_campaign-intro-container .zj_campaign-intro .zj_campaign-intro_content {
	display: block;
	margin: 0;
	padding: 10px;
	width: auto;
}

.zj_campaign-intro-container .zj_campaign-intro .zj_desc {
	padding: 0 10px;
}


.zj_campaign-intro-container .zj_campaign-intro .zj_thumb {
	float: left;
	width: 80px;
	margin: 5px 10px 10px 0;
}
*/

.zj_campaign-leading #zj_campaigns li.zj_campaign {
	padding-bottom: 0px;
}

.zj_list-campaigns-blog .zj_campaign-row {
	background: url("../images/gradient.png") repeat-x scroll 0 5px transparent;
	padding-bottom: 10px;
	padding-top: 15px;
	clear: both;
}

.zj_list-campaigns-blog .zj_campaign-column {
	float: left;
	position: relative;
}

.zj_list-campaigns-blog .zj_campaign-intro-content {
	padding-left: 10px;
	padding-right: 10px;
}

.zj_list-campaigns-blog .zj_campaign-intro-content h2 {
	text-align: center;
}

.zj_list-campaigns-blog .zj_campaign-intro-content h4 {
	text-transform: none;
	text-decoration: none;
}

.zj_list-campaigns-blog .zj_campaign-intro-content .zj_thumb {
	float: left;
	width: 80px;
	margin: 5px 10px 10px 0;
}

.zj_list-campaigns-blog .zj_campaign-cols1 .zj_campaign-column {
	width: 100%;
}

.zj_list-campaigns-blog .zj_campaign-cols2 .zj_campaign-column {
	width: 50%;
}

.zj_list-campaigns-blog .zj_campaign-cols3 .zj_campaign-column {
	width: 33.33%;
}

.zj_list-campaigns-blog .zj_campaign-cols4 .zj_campaign-column {
	width: 25%;
}

.zj_list-campaigns-blog .zj_campaign-cols5 .zj_campaign-column {
	width: 20%;
}

.zj_smallbtn {
	background: none;
}

.zj_desc {
	padding-bottom: 10px;
}

.zj_list-campaigns-blog .zj_desc {
	text-align: justify;
}

.zj_link {
	background: url("../images/link.gif") no-repeat;
	padding-left: 16px;
}

a.zj_link:hover,
a.zj_link:active,
a.zj_link:focus {
	background-position: 0 0;
}


.zj_campaign-column.blog {
	text-align: center;
}

.zj_social_share {
	text-align: right;
}

/* DONATE FORM */
h3.donate-form-title {
	margin: 0;
	margin-top: 10px;
}

table td.title_cell {
	width: 20%;
	font-weight: bold;
	text-align: right;
}