/**
 * @version		$Id$
 * @author		Nguyen Dinh Luan
 * @package		Joomla!
 * @subpackage	ZJ_Donation
 * @copyright	Copyright (C) 2008 - 2010 by Zerosoft. All rights reserved.
 * @license		http://www.gnu.org/licenses/gpl.html GNU/GPL version 3
 */
.zj_copyright {
	color: #AAAAAA;
	margin: 1em 0;
	text-align: center;
}

.zj_copyright .zj_title {
	font-weight: bold;
}

.zj_addbutton {
	background: transparent url(../images/add.png) no-repeat;
	line-height: 16px;
	padding-left: 20px;
	float: left;
}

.zj_image_sortablehandler,
.zj_sortablehandler {
	background: transparent url(../images/move.png) no-repeat;
	width: 13px;
	height: 13px;
}

/** linkicons **/
div.linkicon {
	text-align: center;
	margin-right: 5px;
	margin-bottom: 5px;
}

div.linkicon a {
	display: block;
	border: 1px solid #f0f0f0;
	height: 97px;
	width: 108px;
	color: #666;
	vertical-align: middle;
	text-decoration: none;
}

div.linkicon a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
	color: #0B55C4;
}

div.linkicon img  { padding: 10px 0; margin: 0 auto; }
div.linkicon span { display: block; text-align: center; }

/**
 * imageselect
 *
 * based on com_media
 */

div.item {
	float: left;
	border: 1px solid #ccc;
	margin: 3px;
	position: relative;
}

div.imgBorder {
	height: 72px;
	vertical-align: middle;
	width: 88px;
	overflow: hidden;
}

div.imgBorder a {
	height: 72px;
	width: 88px;
	display: block;
	cursor: pointer;
}

div.imgBorder a:hover {
	height: 72px;
	width: 88px;
	background-color: #f0f0f0;
	color : #FF6600;
}

div.controls {
	text-align: center;
	height: 20px;
	line-height: 20px;
	background: #f9fcf9;
	border-top: 1px solid #ddd;
}

div.controls img {
	vertical-align: middle;
}

div.imageinfo {
	background: #f9f9f9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 88px;
	height: 15px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
}

div.image {
/*	padding-top: 10px; removed because of the button icons */
}

div.pnav {
	padding: 5px;
	text-align: center;
	background: #f3f3f3;
	border: 1px solid #ccc;
	overflow: hidden;
}

div.imghead {
	padding: 3px;
	border: 1px solid #ccc;
}


div.clear {
	border: 0;
	clear: both;
	float: none;
	height: 1px;
	line-height: 1px;
}


/** ICON */

.icon-48-dashboard {
	background-image: url(../images/icon-48-dashboard.png) !important;
}

.icon-48-config {
	background-image: url(../images/icon-48-config.png) !important;
}

.icon-48-currency {
	background-image: url(../images/icon-48-currency.png) !important;
}

.icon-48-campaign {
	background-image: url(../images/icon-48-campaign.png) !important;
}

.icon-48-field {
	background-image: url(../images/icon-48-field.png) !important;
}

.icon-48-donate {
	background-image: url(../images/icon-48-donate.png) !important;
}

.icon-48-recurring {
	background-image: url(../images/icon-48-recurring.png) !important;
}

.icon-48-config {
	background-image: url(../images/icon-48-config.png) !important;
}

.icon-48-commission {
	background-image: url(../images/icon-48-commission.png) !important;
}